.app-content {
  margin: auto 60px;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    'random random'
    'random-toggle random-toggle'
    'person-selector person-data'
    'planet-selector planet-data'
    'starship-selector starship-data';
}

.app-random {
  grid-area: random;
}

.app-random-toggle {
  grid-area: random-toggle;
}

.app-person-selector {
  grid-area: person-selector;
}

.app-person-data {
  grid-area: person-data;
  margin: 0 0 0 40px;
}

.app-planet-selector {
  grid-area: planet-selector;
}

.app-planet-data {
  grid-area: planet-data;
  margin: 0 0 0 40px;
}

.app-starship-selector {
  grid-area: starship-selector;
}

.app-starship-data {
  grid-area: starship-data;
  margin: 0 0 0 40px;
}

@media only screen and (max-width: 1000px) {
  .app-content {
    margin: auto 60px;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      'random'
      'random-toggle'
      'person-selector'
      'peson-data'
      'planet-selector'
      'planet-data'
      'starship-selector'
      'starship-data';
  }

  .app-person-data {
    margin: 0;
  }
}
